############################################
#  pmotion2svg:                            #
#  https://github.com/tajmone/pmotion2svg  #
############################################

root = true

## Configurations
#################
[.{git*,editorconfig,*.yml}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = unset
insert_final_newline = true
trim_trailing_whitespace = true


## Shell Scripts
################
[*.sh]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = unset
insert_final_newline = true
trim_trailing_whitespace = true


## Markdown GFM
###############
[*.md]
charset = utf-8
end_of_line = unset
indent_style = space
indent_size = unset
insert_final_newline = true
trim_trailing_whitespace = true


## AsciiDoc
###########
[*.{ad,adoc,asciidoc}]
indent_size = 2
indent_style = space
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## PureBasic
############
[*.{pb,pbf,pbi}]
charset = utf-8-bom
end_of_line = unset
indent_style = space
indent_size = unset
insert_final_newline = true
trim_trailing_whitespace = true


## Plain-Text Files
###################
[*.txt]
charset = utf-8-bom
end_of_line = unset
indent_style = space
indent_size = unset
trim_trailing_whitespace = true
insert_final_newline = true

[LICENSE]
charset = utf-8-bom
end_of_line = unset
indent_style = space
indent_size = unset
trim_trailing_whitespace = true
insert_final_newline = true

# EOF #
